# 機械学習をPythonで実践する-12　　～ Boosting ～

In [1]:
%load_ext autoreload
%autoreload 2
import polars as pl
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.preprocessing import StandardScaler, PolynomialFeatures, OrdinalEncoder
# import statsmodels.api as sma
from sklearn.model_selection import train_test_split ,cross_val_score, KFold, RepeatedKFold,StratifiedKFold
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score, log_loss, confusion_matrix,ConfusionMatrixDisplay, \
accuracy_score, precision_score, recall_score,precision_recall_curve,f1_score,roc_curve,auc,get_scorer_names,roc_auc_score
from sklearn import tree
from sklearn.ensemble import BaggingClassifier,RandomForestClassifier

%matplotlib inline
import matplotlib.pyplot as plt

## AdaBoosting

In [2]:
# polarsでタイタニックデータを読み込み
df = pl.from_pandas(sns.load_dataset('titanic'))

# 今回は単純に欠損値を落とす。
df = df.drop_nulls()

# 学習データ、目的変数を定義
X = df.drop(['survived', 'alive'])
y = df.get_column('survived')

# カテゴリ変数のカラム名をリスト化
category_cols = X.select(pl.col([pl.Utf8, pl.Categorical, pl.Boolean])).columns

# ラベルエンコーディング（LabelEncoderではなく、OrdinalEncoderを使う）
oe = OrdinalEncoder()
# pandasで返ってくるように指定。polarsは指定できない模様
oe.set_output(transform='pandas')
# カテゴリ変数をエンコーディング。polars.DFはそのまま入れられないのでpandasに変換する。
X = X.with_columns( pl.from_pandas(oe.fit_transform(X.select(category_cols).to_pandas())) )

In [5]:
X.select(pl.col(pl.Float64).sum())

shape: (1, 10)
┌──────┬─────────┬────────────┬──────────┬─────┬────────────┬───────┬─────────────┬───────┐
│ sex  ┆ age     ┆ fare       ┆ embarked ┆ ... ┆ adult_male ┆ deck  ┆ embark_town ┆ alone │
│ ---  ┆ ---     ┆ ---        ┆ ---      ┆     ┆ ---        ┆ ---   ┆ ---         ┆ ---   │
│ f64  ┆ f64     ┆ f64        ┆ f64      ┆     ┆ f64        ┆ f64   ┆ f64         ┆ f64   │
╞══════╪═════════╪════════════╪══════════╪═════╪════════════╪═══════╪═════════════╪═══════╡
│ 94.0 ┆ 6483.42 ┆ 14363.3918 ┆ 232.0    ┆ ... ┆ 87.0       ┆ 437.0 ┆ 232.0       ┆ 78.0  │
└──────┴─────────┴────────────┴──────────┴─────┴────────────┴───────┴─────────────┴───────┘