# 機械学習をPythonで実践する-17　　～ 欠損値対応-2 ～
様々な欠損対応手法を適用した場合の機械学習モデルの精度を比較する。

In [1]:
%load_ext autoreload
%autoreload 2
import polars as pl
import pandas as pd
import numpy as np
import seaborn as sns
import itertools
from sklearn.preprocessing import StandardScaler, PolynomialFeatures, OrdinalEncoder
# # import statsmodels.api as sma
from sklearn.model_selection import train_test_split ,cross_val_score, KFold, RepeatedKFold,StratifiedKFold
from sklearn.neighbors import KNeighborsRegressor
from sklearn.impute import KNNImputer
# from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score, log_loss, confusion_matrix,ConfusionMatrixDisplay, \
# accuracy_score, precision_score, recall_score,precision_recall_curve,f1_score,roc_curve,auc,get_scorer_names,roc_auc_score
# from sklearn import tree
# from sklearn.ensemble import BaggingClassifier,RandomForestClassifier,AdaBoostClassifier, GradientBoostingRegressor, GradientBoostingClassifier


%matplotlib inline
import matplotlib.pyplot as plt

In [28]:
# データセットのカラム名やデータ型は分かっているので、dtypesを指定しておく。
dtypes = {
    "species": str,
    'island': str,
    'culmen_length_mm': pl.Float32,
    'culmen_depth_mm': pl.Float32,
    'flipper_length_mm': pl.Float32,
    'body_mass_g': pl.Float32,
    'sex': str
}

# ペンギンのデータセット読み込み。欠損値がNAとして含まれているので、null_values="NA"を指定しないと読み込みエラーになる。
df = pl.read_csv('../Python/sample_data/ML_sample/penguins_size.csv',dtypes=dtypes, null_values='NA')

In [29]:
df.head()

shape: (5, 7)
┌─────────┬───────────┬─────────────────┬─────────────────┬─────────────────┬─────────────┬────────┐
│ species ┆ island    ┆ culmen_length_m ┆ culmen_depth_mm ┆ flipper_length_ ┆ body_mass_g ┆ sex    │
│ ---     ┆ ---       ┆ m               ┆ ---             ┆ mm              ┆ ---         ┆ ---    │
│ str     ┆ str       ┆ ---             ┆ f32             ┆ ---             ┆ f32         ┆ str    │
│         ┆           ┆ f32             ┆                 ┆ f32             ┆             ┆        │
╞═════════╪═══════════╪═════════════════╪═════════════════╪═════════════════╪═════════════╪════════╡
│ Adelie  ┆ Torgersen ┆ 39.099998       ┆ 18.700001       ┆ 181.0           ┆ 3750.0      ┆ MALE   │
│ Adelie  ┆ Torgersen ┆ 39.5            ┆ 17.4            ┆ 186.0           ┆ 3800.0      ┆ FEMALE │
│ Adelie  ┆ Torgersen ┆ 40.299999       ┆ 18.0            ┆ 195.0           ┆ 3250.0      ┆ FEMALE │
│ Adelie  ┆ Torgersen ┆ null            ┆ null            ┆ null            ┆ null        ┆ null   │
│ Adelie  ┆ Torgersen ┆ 36.700001       ┆ 19.299999       ┆ 193.0           ┆ 3450.0      ┆ FEMALE │
└─────────┴───────────┴─────────────────┴─────────────────┴─────────────────┴─────────────┴────────┘

In [30]:
df.null_count()

shape: (1, 7)
┌─────────┬────────┬──────────────────┬─────────────────┬───────────────────┬─────────────┬─────┐
│ species ┆ island ┆ culmen_length_mm ┆ culmen_depth_mm ┆ flipper_length_mm ┆ body_mass_g ┆ sex │
│ ---     ┆ ---    ┆ ---              ┆ ---             ┆ ---               ┆ ---         ┆ --- │
│ u32     ┆ u32    ┆ u32              ┆ u32             ┆ u32               ┆ u32         ┆ u32 │
╞═════════╪════════╪══════════════════╪═════════════════╪═══════════════════╪═════════════╪═════╡
│ 0       ┆ 0      ┆ 2                ┆ 2               ┆ 2                 ┆ 2           ┆ 10  │
└─────────┴────────┴──────────────────┴─────────────────┴───────────────────┴─────────────┴─────┘

In [35]:
df['body_mass_g'].value_counts().sort('body_mass_g', reverse=False)

shape: (95, 2)
┌─────────────┬────────┐
│ body_mass_g ┆ counts │
│ ---         ┆ ---    │
│ f32         ┆ u32    │
╞═════════════╪════════╡
│ null        ┆ 2      │
│ 2700.0      ┆ 1      │
│ 2850.0      ┆ 2      │
│ 2900.0      ┆ 4      │
│ ...         ┆ ...    │
│ 5950.0      ┆ 2      │
│ 6000.0      ┆ 2      │
│ 6050.0      ┆ 1      │
│ 6300.0      ┆ 1      │
└─────────────┴────────┘

In [31]:
df['sex'].value_counts()

shape: (4, 2)
┌────────┬────────┐
│ sex    ┆ counts │
│ ---    ┆ ---    │
│ str    ┆ u32    │
╞════════╪════════╡
│ MALE   ┆ 168    │
│ FEMALE ┆ 165    │
│ null   ┆ 10     │
│ .      ┆ 1      │
└────────┴────────┘