# PandasにおけるTips

In [1]:
import pandas as pd
import numpy as np

## ○ 欠損値を読み込んだ時のPandasの挙動
pd.read_csvで何もオプションを指定せずに下記のようなcsvを読み込んだ場合、  
None以外はnp.nanに変換される模様。Noneはそのまま書いても""をつけて書いてもstrとして扱われる。

元のcsv
```
A,B,C
1,2,
3,4,""
5,6,NA
7,8,"NA"
9,10,NaN
11,12,"NaN"
13,14,None
15,16,"None"
```

In [2]:
tmp = pd.read_csv('missing_value_test.csv')
tmp

    A   B     C
0   1   2   NaN
1   3   4   NaN
2   5   6   NaN
3   7   8   NaN
4   9  10   NaN
5  11  12   NaN
6  13  14  None
7  15  16  None

In [9]:
for i in range(0, len(tmp)):
    print( type(tmp['C'].iloc[i]) )

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'str'>

## ○ 行・列ごとに欠損値(NaN,NA)の個数をカウント
sum()ではTrue=1, False=0として処理されるため、sum()をisnull()の結果（欠損値かどうかの判定結果）に適用することで、  
行・列ごとに欠損値NaNの個数をカウントできる。  
デフォルトでは列、引数axis=1とすると行に対して処理される。  
```
print(df.isnull().sum())
# name     1
# age      2
# state    1
# point    3
```  
また、.countでは欠損値を除いた列・行の要素数しかカウントしないが、  
.isnull().count()とすることで、欠損値も含めたカウントができる。