# 外部ストレージにある大規模データを処理する
数十GB以上のデータはローカルに持ってきて処理したくないので、  
外部ストレージに置いたままデータ処理する方法を整理する。

## ● WSL2にマウントされた領域からPandas,Polarsでデータを読む方法

 まずはWSL2で下記コマンドを打ち、外部ストレージ(NAS、USB、HDD)をマウントする。

```
 sudo mount -t drvfs <マウントしたいドライブのアルファベット>: <任意のマウントポイント>
 ```

In [9]:
# ここでは下記の"from_HDD"にHDDをマウントした。
! ls ../sample_data/from_HDD

 Sales-sample.csv  'System Volume Information'	 サンプルデータ

In [4]:
import polars as pl
import pandas as pd

In [6]:
# polarsで読み込み
pl.read_csv('../sample_data/from_HDD/Sales-sample.csv').head(3)

shape: (3, 4)
┌──────────┬────────────┬─────────────┬───────────┐
│ Sales_No ┆ Sales_Date ┆ Customer_ID ┆ Sales_Org │
│ ---      ┆ ---        ┆ ---         ┆ ---       │
│ str      ┆ str        ┆ str         ┆ str       │
╞══════════╪════════════╪═════════════╪═══════════╡
│ A001     ┆ 2018/6/22  ┆ C03         ┆ Q01       │
│ A002     ┆ 2018/6/23  ┆ C04         ┆ Q02       │
│ A003     ┆ 2018/6/24  ┆ C09         ┆ Q01       │
└──────────┴────────────┴─────────────┴───────────┘

In [7]:
# パスに日本語が混ざってても読み込める
pl.read_csv('../sample_data/from_HDD/サンプルデータ/Sales-sample.csv').head(3)

shape: (3, 4)
┌──────────┬────────────┬─────────────┬───────────┐
│ Sales_No ┆ Sales_Date ┆ Customer_ID ┆ Sales_Org │
│ ---      ┆ ---        ┆ ---         ┆ ---       │
│ str      ┆ str        ┆ str         ┆ str       │
╞══════════╪════════════╪═════════════╪═══════════╡
│ A001     ┆ 2018/6/22  ┆ C03         ┆ Q01       │
│ A002     ┆ 2018/6/23  ┆ C04         ┆ Q02       │
│ A003     ┆ 2018/6/24  ┆ C09         ┆ Q01       │
└──────────┴────────────┴─────────────┴───────────┘

In [8]:
# pandasでも読み込みOK
pd.read_csv('../sample_data/from_HDD/Sales-sample.csv').head(3)

  Sales_No Sales_Date Customer_ID Sales_Org
0     A001  2018/6/22         C03       Q01
1     A002  2018/6/23         C04       Q02
2     A003  2018/6/24         C09       Q01