# String manipulation（文字列操作テクニック）

In [3]:
import pandas as pd
import polars as pl

## 複数の単語をそれぞれシングルクォーテーションで囲う  
コピペしてきた複数の単語を文字列としてリストに格納したいときなどに。

In [1]:
# 複数の単語を下記のように一つの文字列としてまとめる。
words = 'apple orange lemon'
# スペースでスプリットして文字列として格納
words_list = [word for word in words.split()]

In [15]:
words_list

['apple', 'orange', 'lemon']

In [18]:
# カンマの場合
words_2 = 'apple,orange,lemon'
words_list_2 = [word for word in words_2.split(',')]

In [19]:
words_list_2

['apple', 'orange', 'lemon']

In [37]:
# エクセルの列をそのまま貼り付けてきたような場合。シングルクォーテーション３つで複数行文字列化できる
words_3 = '''
apple
orange
lemon
apple
orange
lemon
apple
orange
lemon
apple
orange
lemon
apple
orange
lemon
'''
words_list_3 = [word for word in words_3.split('\n')]

In [38]:
words_3

'\napple\norange\nlemon\napple\norange\nlemon\napple\norange\nlemon\napple\norange\nlemon\napple\norange\nlemon\n'

In [39]:
words_list_3

['',
 'apple',
 'orange',
 'lemon',
 'apple',
 'orange',
 'lemon',
 'apple',
 'orange',
 'lemon',
 'apple',
 'orange',
 'lemon',
 'apple',
 'orange',
 'lemon',
 '']

最初と最後に余分なものが入るので、のぞいて格納。

In [40]:
words_list_3 = words_list_3[1:-1]

In [41]:
words_list_3

['apple',
 'orange',
 'lemon',
 'apple',
 'orange',
 'lemon',
 'apple',
 'orange',
 'lemon',
 'apple',
 'orange',
 'lemon',
 'apple',
 'orange',
 'lemon']

## 数字の羅列になっている時刻を秒やマイクロ秒に変換する

In [4]:
df = pd.DataFrame({
        'Date':['20200101',
                '20200102',
                '20200103'],
        'Time': ['131205123',
                '133406123',
                '142215123'],
        'Time(usns)': ['456789',
                        '456790',
                        '456791']
        })

In [5]:
df.head()

       Date       Time Time(usns)
0  20200101  131205123     456789
1  20200102  133406123     456790
2  20200103  142215123     456791

In [10]:
# Timeをマイクロ秒に変換する例
df['cumTime_us'] = df['Time'].apply(
    lambda x: int(x[0:2]) * 60 * 60 * 1000 * 1000 + int(x[2:4]) * 60 * 1000 * 1000 + int(x[4:]) * 1000
) + df['Time(usns)'].astype(int) / 1000

df

       Date       Time Time(usns)    cumTime_us
0  20200101  131205123     456789  4.752512e+10
1  20200102  133406123     456790  4.884612e+10
2  20200103  142215123     456791  5.173512e+10